//Fonts
$ABeeZee-Italic: 'ABeeZee-Italic', sans-serif;
$ABeeZee-Regular: 'ABeeZee-Regular', sans-serif;

//Text Colors
$primary-text-color: #000;
$secondary-text-color: #FFF;

//Font Weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

//Font Size
$font-small: 12px;
$font-primary: 14px;
$font-secondary: 16px;
$font-tertiary: 18px;


//Colors
$primary-brand-color: #FFFFCC;
$secondary-brand-color: #FFC5D3;
$background-color: #fff;
$primary-background-color: #FFFFCC;
$secondary-background-color: #FFC5D3;